<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome To TinyHaikuJam</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    
  </head>
  <body>
    <form action="/topic" method="POST">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
            <h1 >Welcome To TinyHaikuJam</h1>
            <p>No incomplete Jam available. Create new One!!</p>
            <h2><input type="text"  name="topic" placeholder="Please Enter New Topic"   required></h2>
            <input type="text"  name="first_line" placeholder="Please Enter First Line"   required>
            <input type="text" name="second_line" placeholder="Please Enter Second Line"  >
            <input type="text" name="third_line" placeholder="Please Enter Third Line" >
        <button type="submit" >Send You Jam</button>
      </div>
    </form>

  </body>
</html>